<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GPMI_Laser_Marking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings> 
	  <add name="InputConnectionString" connectionString="data source=169.254.207.112,1433;Integrated Security = False;Persist Security Info = False;initial catalog=GPMI_Laser;user id=sa;Password=1234;;MultipleActiveResultSets=True;App=EntityFramework;Connect Timeout=180" providerName="System.Data.SqlClient" />
	  <add name="GPMIconnect" connectionString="data source=192.168.0.4;Persist Security Info = True;Integrated Security = false;initial catalog=temas_v2;user id=temas;Password=temas@123;;MultipleActiveResultSets=True;App=EntityFramework;Connect Timeout=180" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <GPMI_Laser_Marking.Properties.Settings>
      <setting name="Account" serializeAs="String">
        <value />
      </setting>
      <setting name="LaserIP" serializeAs="String">
        <value />
      </setting>
      <setting name="BarcodeIP" serializeAs="String">
        <value />
      </setting>
      <setting name="printter" serializeAs="String">
        <value />
      </setting>
      <setting name="printImage" serializeAs="String">
        <value />
      </setting>
      <setting name="Connection" serializeAs="String">
        <value />
      </setting>
      <setting name="PLCCOM" serializeAs="String">
        <value />
      </setting>
      <setting name="JIG_BarcodeIP" serializeAs="String">
        <value />
      </setting>
    </GPMI_Laser_Marking.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>